RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Ha nem létezik fájlként vagy könyvtárként
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Próbálkozzon .html kiterjesztéssel
RewriteRule ^(.+?)/?$ $1.html [L]