RewriteEngine On

# Ha nem létezik fájlként vagy könyvtárként
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Próbálkozzon .html kiterjesztéssel
RewriteRule ^(.+?)/?$ $1.html [L]